/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Raleway:wght@400;700&display=swap");
/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of secondary color*/
  --clr-secondary-1: #14534d;
  --clr-secondary-2: #1a6f66;
  --clr-secondary-3: #218b80;
  --clr-secondary-4: #27a69a;
  /* secondary/main color */
  --clr-secondary-5: #2ec4b6;
  /* lighter shades of secondary color */
  --clr-secondary-6: #43d3c5;
  --clr-secondary-7: #63dace;
  --clr-secondary-8: #82e2d8;
  --clr-secondary-9: #a1e9e2;
  --clr-secondary-10: #e3f8f7;
  --clr-secondary-11: #f0f8f8;
  /* dark shades of primary color*/
  --clr-primary-1: #784600;
  --clr-primary-2: #a05e00;
  --clr-primary-3: #dc8100;
  --clr-primary-4: #ff9705;
  /* primary color */
  --clr-primary-5: #ff9f1c;
  /* lighter shades of primary color */
  --clr-primary-6: #ffad3a;
  --clr-primary-7: #ffb44b;
  --clr-primary-8: #ffbb5b;
  --clr-primary-9: #ffcf8c;
  --clr-primary-10: #ffddad;
  --clr-primary-11: #f7e5cd;
  --clr-background-1: #ede7e3;
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --ff-primary: "Raleway", sans-serif;
  --ff-secondary: "Lato", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.2rem;
  --small-spacing: 0.1rem;
  --radius: 0.3rem;
  --more-round-radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --card-blend-mode: overlay;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-secondary);
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img:not(.sidebar-logo, .intro-logo) {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-secondary-1);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

.btn {
  text-transform: uppercase;
  background: var(--clr-primary-5);
  color: var(--clr-primary-1);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}
.btn:hover {
  color: var(--clr-primary-1);
  background: var(--clr-primary-7);
}
.title-center {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
/* section */
.section {
  padding: 5rem 0;
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  text-align: center;
}

@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
/* navbar */
.nav-container {
  position: fixed;
  margin: 0 auto;
  padding: 0.5rem;
  width: 100vw;
  height: 5rem;
  background: transparent;
  transition: var(--transition);
}
.nav-active {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background: var(--clr-primary-11);
  box-shadow: var(--dark-shadow);
}
.header-center {
  display: flex;
  justify-content: space-between;
  padding: 0 1.5rem;
  margin: 0 auto;
  max-width: var(--max-width);
}
.nav-logo {
  width: 25vw;
  height: 4rem;
  display: inline-block;
}
.nav-btn {
  border: transparent;
  font-size: 1.5rem;
  background: transparent;
  color: var(--clr-primary-5);
  transition: var(--transition);
  cursor: pointer;
}
.nav-btn:hover {
  color: var(--clr-primary-3);
}
.nav-links {
  display: none;
}
.nav-link:hover {
  color: var(--clr-primary-2);
  transform: translate(20%, 20%);
}
@media screen and (min-width: 768px) {
  .nav-btn {
    display: none;
  }
  .nav-links {
    display: flex;
    align-items: center;
  }
  .nav-link {
    color: var(--clr-primary-9);
    margin-right: 2.5rem;
    font-size: 1rem;
    letter-spacing: var(--spacing);
    transition: var(--transition);
  }
  /* .nav-link {
    text-decoration: underline;
    text-underline-offset: 5px;
  } */
  .nav-link-scroll {
    color: var(--clr-primary-1);
  }
  .nav-link-scroll:hover {
    color: var(--clr-primary-5);
  }
  .nav-container {
    padding: 0.5rem;
  }
  .nav-logo {
    width: 10%;
  }
}
/* navbar end */

/* sidebar */
.sidebar {
  transform: translateX(-100%);
  position: fixed;
  background: var(--clr-primary-7);
  z-index: 4;
  min-height: 100vh;
  min-width: 100vw;
  transition: var(--transition);
  display: flex;
  justify-content: flex-start;
  padding: 2rem;
  padding-top: 2.5rem;
  font-size: 3rem;
  font-weight: bold;
  flex-direction: column;
  flex: 1;
}
.sidebar-show {
  transform: translateX(0%);
}
.sidebar-link {
  display: block;
  margin-bottom: 1.5rem;
  color: var(--clr-white);
  transition: var(--transition);
}
.sidebar-link:hover {
  color: var(--clr-primary-2);
  transform: scale(1.02);
}
.sidebar-logo {
  width: 25vw;
  align-self: center;
  margin-top: auto;
}
.close-sidebar {
  border: transparent;
  top: 1rem;
  right: 1rem;
  position: absolute;
  font-size: 1.5rem;
  background: transparent;
  color: var(--clr-primary-1);
}
.close-sidebar:hover {
  color: var(--clr-primary-2);
}
/* sidebar end */
/* intro  */
.intro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--clr-primary-10);
  z-index: 9999;
  color: var(--clr-secondary-1);
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
  animation: backgroundOut 2s 4s forwards;
}
.intro-title {
  opacity: 0;
  animation: fadeIn 3.5s 0.5s forwards ease-in;
}
@keyframes fadeIn {
  0% {
    transform: translateY(10%);
  }
  50% {
    transform: translateY(0%);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes backgroundOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* intro end  */
/* hero-section */
.hero-background {
  background: linear-gradient(
      to bottom,
      rgba(36, 38, 39, 0.7),
      rgba(255, 151, 5, 0.7)
    ),
    url("../images/background.jpg") center/cover no-repeat;
}
/* end of hero-section */
/* about me section */
.about-me-container {
  padding-top: 6rem;
}
.about-content {
  display: grid;
  grid-template-columns: minmax(268px, 390px);
  grid-auto-rows: 1fr;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  font-size: 1rem;
  max-width: var(--max-width);
  margin: 0 auto;
}
.about-content h1 {
  text-transform: unset;
  margin-bottom: 2rem;
}
.about-content p {
  margin-bottom: 3rem;
}
.about-content span {
  color: var(--clr-primary-1);
  font-weight: 700;
}
.about-center {
  background: rgba(253, 245, 234, 0.7);
}
.image-about-me {
  align-self: center;
}

@media screen and (min-width: 928px) {
  .about-content {
    grid-template-columns: 1fr 1fr;
    font-size: 1.5rem;
    gap: 5rem;
  }
  .about-me-title {
    align-self: center;
  }
  .about-me-title button {
    font-size: 1.5rem;
  }
}
/* end of about me section */
/* project section  */
.projects-section {
  text-align: center;
}
.footer-project {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
}
.project {
  background: var(--clr-secondary-11);
  box-shadow: var(--dark-shadow);
  margin-bottom: 2rem;
  border-radius: var(--radius);
  padding: 1rem;
  text-align: left;
  transition: var(--transition);
}
.project:hover {
  transform: rotate(-0.5deg);
  box-shadow: rgba(241, 143, 4, 0.4) 5px 5px, rgba(241, 143, 4, 0.3) 10px 10px,
    rgba(241, 143, 4, 0.2) 15px 15px, rgba(241, 143, 4, 0.1) 20px 20px;
}

/* image container for single project */
.image-project-container img {
  border-radius: var(--radius);
  display: block;
  object-fit: cover;
  border: none;
  box-sizing: border-box;
}
.image-project-container {
  position: relative;
}
.overlay {
  opacity: 0;
  position: absolute;
  border-radius: var(--radius);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--clr-secondary-11);
  width: 105%;
  height: 105%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: var(--transition);
}
.project:hover .overlay {
  opacity: 1;
}
.single-project-link {
  color: var(--clr-grey-1);
  margin-bottom: 1rem;
  background: var(--clr-primary-11);
  padding: 0.5rem;
  text-transform: capitalize;
  font-size: 0.8rem;
  letter-spacing: var(--small-spacing);
  border-radius: var(--radius);
  transition: var(--transition);
}
.single-project-link:hover {
  background: var(--clr-secondary-1);
  color: var(--clr-primary-11);
}
.project h3 {
  font-family: var(--ff-secondary);
  letter-spacing: normal;
  margin-top: 1rem;
}
.tech-stack {
  background-color: var(--clr-primary-9);
  border-radius: var(--radius);
  padding: 0.25rem 0.5rem;
  font-size: 0.7rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}
.project-container {
  margin-bottom: 2rem;
}
/*end of image container for single project */
/* set projects layout */

/* 2 column layout */
@media screen and (min-width: 768px) {
  .project-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }
  .project {
    margin-bottom: 0;
  }
}
/* 3 column layout */
@media screen and (min-width: 992px) {
  .project-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
  }
}
/* end of projects layout */
/* end of project section  */
.certficate-section {
  background: var(--clr-background-1);
  padding: 1rem;
}
.certification {
  border-radius: var(--radius);
  padding: 1rem;
}
.image-certification-container {
  position: relative;
  box-shadow: var(--light-shadow);
}
.img-certification {
  object-fit: cover;

  height: 400px;
  width: 100%;
  border-radius: var(--radius);
  transition: var(--transition);
}
.overlay-image {
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: var(--radius);
  transition: var(--transition);
}
.overlay-certification {
  position: relative;
  height: 100%;
  width: 100%;
}
.content-certification-container {
  position: absolute;
  bottom: 0;
  top: 70%;
  width: 100%;
  background: var(--clr-primary-11);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 1.5rem;
  transition: var(--transition);
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  color: var(--clr-primary-1);
  text-align: left;
}
.content-certification-container h3 {
}
.content-certification-container p {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: var(--clr-grey-1);
}
.link-credential {
  display: none;
  overflow: hidden;
}
.issue-by span {
  color: #14534d;
  font-family: var(--ff-primary);
  font-weight: 700;
}

.certification:hover .content-certification-container {
  top: 50%;
}
.certification:hover .overlay-image {
  opacity: 0.3;
}
.certification:hover .link-credential {
  display: block;
  color: var(--clr-grey-1);
  font-weight: 700;
  letter-spacing: var(--small-spacing);
}
.certification:hover .img-certification {
  filter: blur(8px);
}
@media screen and (min-width: 768px) {
  .certifications {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 992px) {
  .certifications {
    grid-template-columns: repeat(3, 1fr);
  }
}
